// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.graph-months{
  width: 30%;
  display: inline-block;
}

.pie-chart-origin {
  width: 40%;
  display: inline-block;
}

.pie-chart-blend-name {
  width: 40%;
  display: inline-block;
}